@use "tokens" as t;

.wrapper {
    position: relative;

    .spinner {
        position: absolute;
        background-color: var(--colour-white);
        border-radius: 50px;
        right: 0;
        top: 4px;
    }

    select.filter-select {
        width: 115px;
        @include t.filter-item-style;

        option {
            color: black;
            width: 120px;
            overflow: hidden;
        }
    }
}
