<div class="wrapper">
    @if (showLabel) {
        <label
            [class.has-errors]="!isValid"
            [class.has-warnings]="hasWarnings"
            for="{{ id }}"
            >{{ label }}</label
        >
    }
    <input
        class="input"
        type="date"
        [class.has-errors]="!isValid"
        [class.has-warnings]="hasWarnings"
        [attr.name]="id"
        [attr.aria-label]="showLabel ? null : label"
        id="{{ id }}"
        [ngModel]="value"
        (input)="onInput($event)"
        autocapitalize="off"
        [placeholder]="placeholder"
        [autocomplete]="autopopulate.length > 0 ? autopopulate : 'off'"
        [disabled]="disabled"
    />

    <div class="validation-messages">
        @for (message of validationMessages; track $index) {
            <div class="validation-message">{{ message }}</div>
        }
    </div>
    <div class="warning-messages">
        @for (message of warningMessages; track $index) {
            <div class="warning-message">{{ message }}</div>
        }
    </div>
</div>
