/* You can add global styles to this file, and also import other style files */
@use "colours" as c;
@use "tokens" as t;

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--colour-white);
    color: var(--colour-black);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 !important;
}

hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #80808026;
}

strong.highlight {
    color: var(--colour-purple);
}

table {
    thead {
        th {
            color: var(--colour-purple) !important;
            vertical-align: top;
        }
    }
}

.table-responsive {
    overflow-x: auto;

    .table {
        min-width: 600px;
    }
}

.bx {
    color: var(--colour-purple);
}

button {
    .bx {
        color: inherit;
    }
}

a {
    &:focus {
        text-decoration: none;
        @include t.focus-style(true);
    }
}

.validation-messages {
    color: var(--colour-error-dark);

    .validation-message {
        &:first-child {
            margin-top: 10px;
        }
        &::before {
            content: "❌ ";
        }
    }
}

.warning-messages {
    color: var(--colour-warning-text);

    .warning-message {
        &:first-child {
            margin-top: 10px;
        }
        &::before {
            content: "ℹ️ ";
        }
    }
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
