@import "bs-breakpoints";

.container {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/parliament.jpg");
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);

    .login-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        width: 90vw;
        background-color: var(--colour-white);
        color: var(--colour-black);

        @include media-breakpoint-up(md) {
            width: 500px;
        }

        .title-wrap {
            display: flex;
            justify-content: space-between;
        }

        .login {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .signin {
                align-self: end;
            }
        }
    }
}
