@use "colours" as c;

@import "bs-breakpoints";

.footer {
    font-size: small;
    text-align: center;
    color: var(--colour-white);
    background-color: var(--colour-purple);
    padding: 10px;

    .text {
        display: none;
    }

    @include media-breakpoint-up(sm) {
        .text {
            display: block;
        }
    }
}
