@use "tokens" as t;

@import "bs-breakpoints";

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--colour-white);

    #main.wrapper {
        flex: 1;
        display: grid;
        align-self: center;
        max-width: 1400px;
        width: 100%;

        &.editor-open {
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            align-self: auto;
            max-width: unset;

            .editor {
                border-top: t.$limiter-border-style;
                @include media-breakpoint-up(sm) {
                    border-top: none;
                }
            }
        }

        .search-section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            flex: 1;

            .search {
                margin: 0;
                padding-top: 1rem;
            }

            .results {
                margin: 0;
                flex: 1;
                padding-bottom: 1rem;
            }
        }

        @include media-breakpoint-up(lg) {
            &.editor-open {
                grid-template-columns: 400px 1fr;
                grid-auto-flow: column;
                .editor {
                    height: 100%;
                    border-left: t.$limiter-border-style;
                }
            }
        }

        &:not(.editor-open) {
            @include media-breakpoint-up(sm) {
                .search-section {
                    .search {
                        margin: 0 1rem;
                    }
                    .results {
                        margin: 0 1rem;
                    }
                }
                .editor {
                    margin: 0 1rem;
                }
            }
        }
    }

    .footer {
        flex: 0;
    }
}
