<div class="wrapper">
    @if (loading) {
        <i class="bx bx-loader-circle bx-spin spinner"></i>
    }
    @if (showLabel) {
        <label
            [class.has-errors]="!isValid"
            [class.has-warnings]="hasWarnings"
            for="{{ id }}"
            >{{ label }}
        </label>
    }
    <select
        [class.has-errors]="!isValid"
        [class.has-warnings]="hasWarnings"
        name="{{ id }}"
        id="{{ id }}"
        [attr.aria-label]="text"
        class="filter-select"
        (click)="getLookupItems()"
        [(ngModel)]="value"
        (change)="updateValue()"
        [disabled]="disabled"
    >
        <option [value]="null">{{ text }}</option>

        @for (item of itemList; track $index) {
            <option [value]="itemToLook === 'Manager' ? item.id : item.name">
                {{ item.name }}
            </option>
        }
    </select>

    <div class="validation-messages">
        @for (message of validationMessages; track $index) {
            <div class="validation-message">{{ message }}</div>
        }
    </div>
    <div class="warning-messages">
        @for (message of warningMessages; track $index) {
            <div class="warning-message">{{ message }}</div>
        }
    </div>
</div>
