@use "colours" as c;
@use "tokens" as t;

@mixin button-style {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    min-height: 50px;

    border: none;
    padding: 10px;
    background-color: var(--colour-white);
    color: var(--colour-black);
    font-size: 1.1rem;
}

.wrapper {
    display: flex;
    position: relative;
    .container {
        @include button-style;

        &:focus {
            @include t.focus-style(true);
        }
    }

    .user-menu {
        .container {
            border-left: t.$limiter-border-style-slim;

            .avatar {
                border: t.$limiter-border-style;
                border-radius: 50px;
                height: 50px;
                width: 50px;
                overflow: hidden;

                img {
                    max-height: 100%;
                    max-width: 100%;
                    object-position: center;
                }
            }
        }
    }

    .dropdown-contents {
        position: absolute;
        top: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--colour-white);
        border: t.$limiter-border-style;

        .dropdown-button {
            @include button-style;
            text-align: center;
            min-width: 100px;

            &:focus {
                @include t.focus-style(true);
            }

            &:not(:last-child) {
                border-bottom: t.$limiter-border-style-slim;
            }
        }
    }
}
